---
layout: default
---
Eventos 
<div class="links">
<ul>
  {% for post in site.posts limit:20 %}
	{% if post.category == "evento" %}
	<li>
    <a href="{{ post.link }}">{{ post.title }}</a>
    <span class="link_tags">
	{{post.comment}}
   </span>
  </li>
	{% endif %}

  {% endfor %}
</ul>
</div>

<br />

Noticias
<div class="links">
<ul>
  {% for post in site.posts limit:10 %}
	{% if post.category == "noticia" %}
	<li>
<span class="link_date">{{ post.date | date: "%Y.%m.%d" }}</span>
    <a href="{{ post.link }}">{{ post.title }}</a>
    <span class="link_tags">
	{{post.comment}}
   </span>
  </li>
	{% endif %}

  {% endfor %}
</ul>
</div>

<br />

Enlaces diversos 
<div class="links">
<ul>
  {% for post in site.posts limit:10 %}
	{% if post.category == "video" %}
	<li>
    <span class="link_date">{{ post.date | date: "%Y.%m.%d" }}</span>
    <a href="{{ post.link }}">{{ post.title }}</a>
    <span class="link_tags">
      {{post.comment}}
   </span>
  </li>
	{% endif %}

  {% endfor %}
</ul>
</div>

<br />

Dónde jugar en España
<div class="links">
<ul>
  {% for post in site.posts limit:10 %}
	{% if post.category == "donde" %}
	<li>

   <span class="link_tags">
      {{post.comment}}
   </span> <a href="{{ post.link }}">{{ post.title }}</a>
  </li>
	{% endif %}

  {% endfor %}
</ul>
</div>
