---
layout: default
---
Eventos
<div class="links">
<ul>
  {% for post in site.posts limit:20 %}
	{% if post.category == "evento" %}
	<li>
    <a href="{{ post.link }}">{{ post.title }}</a>
    <span class="link_tags">
	{{post.comment}}
   </span>
  </li>
	{% endif %}

  {% endfor %}
</ul>
</div>

<br />

Noticias y enlaces diversos
<div class="links">
<ul>
  {% for post in site.posts limit:10 %}
	{% if post.category == "novedad" %}
	<li>
<span class="link_date">{{ post.date | date: "%Y.%m.%d" }}</span>
    <a href="{{ post.link }}">{{ post.title }}</a>
    <span class="link_tags">
	{{post.comment}}
   </span>
  </li>
	{% endif %}

  {% endfor %}
</ul>
</div>

<br />

Dónde jugar en España
<div class="links">
  {% for page in site.pages %}
    {% if page.category == "donde" %}
      {{ page.content}}
    {% endif %}
  {%endfor %}
</div>
